<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add CD</title>
    </head>
    <body>
        <form action="/new_CD" method="post">
            <div class='form-group'>
                <label for='title'>Enter Album Title:</label>
                <input id='title' name='title' class='form-control' type='text'>
                <label for='artist'>Enter Artist:</label>
                <input id='artist' name='artist' class='form-control' type='text'>
                <label for='cover_image'>Enter URL image:</label>
                <input id='cover_image' name='cover_image' class='form-control' type='text'>
            </div>
            <button type='submit' class='btn-success'>Add new CD</button>
        </form>
    </body>
</html>
