<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <p>{{newCD.title}}</p>
            <a href="/"> go to your list</a>
    </body>
</html>
