<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" type="text.css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {% if results is not empty %}
            {% for result in results %}
                <div class='row'>
                    <div class='col-md-6'>
                        <img src="{{result.getCoverArt}} ">
                    </div>
                    <div class='col-md-6'>
                        <p> {{result.getTitle}} </p>
                        <p>{{result.getArtist}} </p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if results is empty %}
            <h2> No cds match your search term</h2>

        {% endif %}
        <h3><a href="/">Return Home</a></h3>
    </body>
</html>
